
{% if error  %}
<div>
<p> {{ error }} </p>
</div>
{% endif %}



<form method="post">

    {% csrf_token %}
    <div>
        <label for="username">Nom d'utilisateur</label>
        <input type="text" name="username" id="username" placeholder="nom d'utilisateur" required>
    </div>
    <div>
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password" placeholder="Mot de passe" required>
    </div>
    <button type="submit">Se connecter</button>
    <p>Vous n'avez pas un compte ? <a href="{% url 'register' %}">Créer un compte</a></p>

</form>
